<app-navbar></app-navbar>
<div #sidebar class="sidebar">
    <div class="main-container d-flex">
        <div class="sidebar" id="side_nav">
            <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
                <!-- <h1 class="fs-4"><span class="bg-white text-dark rounded shadow px-2 me-2">CL</span> <span
                        class="text-white">SoftMed Ltd</span></h1> -->
                <!-- <button class="btn d-md-none d-block close-btn px-1 py-0 text-white"><i
                        class="fal fa-stream"></i></button> -->
            </div>
    
            <ul class="list-unstyled px-2">
                <!-- <li class="active"><a href="#" class="text-decoration-none px-3 py-2 d-block"><i
                            class="fal fa-home"></i> Dashboard</a></li> -->
                <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-list"></i>
                        Reports</a></li>
                <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block d-flex justify-content-between">
                        <span><i class="fal fa-comment"></i> Messages</span>
                        <!-- <span class="bg-dark rounded-pill text-white py-0 px-2"></span> -->
                    </a>
                </li>
                <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i
                            class="fal fa-envelope-open-text"></i> Services</a></li>
                <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-users"></i>
                        Order Status</a></li>
            </ul>
            <hr class="h-color mx-2">
    
            <ul class="list-unstyled px-2">
                <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-bars"></i>
                        Settings</a></li>
                <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-bell"></i>
                        Notifications</a></li>
    
            </ul>
    
        </div>
        <div class="content">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between d-md-none d-block">
                     <button class="btn px-1 py-0 open-btn me-2"><i class="fal fa-stream"></i></button>
                        <a class="navbar-brand fs-4" href="#"><span class="bg-dark rounded px-2 py-0 text-white">CL</span></a>
                       
                    </div>
                    <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fal fa-bars"></i>
                  </button>
                </div>
            </nav>

            <!-- User Information Form -->
           <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
              <h4 class="card-title mb-0">Specimen Form</h4>
              <button type="button" class="btn btn-primary">Send</button>
            </div>
          </div>

        <div class="card-body">
            <div class="form-row">
              <!-- Form fields here... -->
            </div>

            <div class="form-group">
                <label for="hospitalName">Hospital Name</label>
                <input type="text" class="form-control" id="hospitalName" placeholder="Enter hospital name">
              </div>
              
            <div>
              <app-patient></app-patient>
            </div>
            

            