<div class="sidebar bg-dark text-white p-3 vh-100" id="side_nav">
    <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
      <h1 class="fs-4">
        <img src="assets/img/softmed-logo.png" alt="Softmed Logo" class="me-2" style="height: 30px;">
        <span class="text-white">SoftMed Ltd</span>
      </h1>
      <button class="btn d-md-none d-block close-btn px-1 py-0 text-white">
        <i class="fal fa-stream"></i>
      </button>
    </div>
  
    <ul class="list-unstyled px-2">
      <li><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-list"></i> Reports</a></li>
      <li><a routerLink="/messages" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-comment"></i> Messages</a></li>
      <li><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-envelope-open-text"></i> View Bill</a></li>
      <li><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-users"></i> Order Status</a></li>
      <li><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-users"></i> Manage Orders</a></li>
    </ul>
    <hr class="h-color mx-2">
    <ul class="list-unstyled px-2">
      <li><a routerLink="/create-order" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-bars"></i> Create Order</a></li>
      <li><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-bell"></i> Notifications</a></li>
    </ul>
  </div>
  